.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

  div.dataTables_wrapper {
    direction: rtl;
}

/* Ensure that the demo table scrolls */
th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}